@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*, *::after, *::before{
  margin: 0;
  padding: 0;
  text-decoration: none;
  transition: 0.45s;
  outline: none;
  border: none;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

.section{
  max-width: 1240px;
  margin: 0 auto;
}

@media(max-width: 1300px){
  .section{
    max-width: 90vw;
  }
}
.swiper-backface-hidden .swiper-slide{
  display: flex;
  justify-content: center;
  align-items: center;
}

.hello{
  padding: 90px 0;
}
.hello h1{
  font-size: 48px;
}
.hello h2{
  font-size: 24px;
  font-weight: 400;
}
.popular{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  grid-gap: 40px;
}

.catalog{
  display: flex;
  justify-content: center;
  grid-gap: 100px;
  flex-wrap: wrap;

}

.product-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-gap: 30px;
  padding-top: 70px;
}

.settings{
  padding-bottom: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}