.card {
    width: 500px;
    height: 500px;
    background: #e6e6e6;

    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 25px;
    flex-direction: column;

    border-radius: 10px;
}

.card h1 {
    color: #fff;
    font-weight: 400;
    font-size: 28px;
}

.card h2 {
    font-size: 24px;
    color: #00F0FF;
}